.PlaceDetailsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* vertically */
  justify-content: baseline;
  align-items: center
}

.BackButton {
  height: 5vh;
  font-size: 35px;
  margin-left: 10px;
  margin-top: 0%;
  background: none;
  border: none;
  outline: none;
  /* border-radius: 10px; */
}

.PlaceName {
  margin: 0%;
  padding: 0%;
  font-weight: 500;
  max-width: 90vw;
  align-self: center;
}

.PlaceImage {
  max-height: 30vh;
  max-width: 90vw;
  margin: 10px;
}

.MoreDetails {
  align-self: baseline;
  margin: 20px;
}

.RatingDiv {
  max-height: 20vh;
}


.VoteButton {
  background: none;
  margin: 5px;
  /* border-radius: 10px; */
  border: none;
  color: transparent;
}

.VoteButton:active {
  outline: none
}